/* imports */
@font-face {
    font-family: "Quicksand Dash Regular";
    src: url("quicksand-dashed/80a67466fb37bc4635b24d6c33aa62e3.eot");
    src: url("quicksand-dashed/80a67466fb37bc4635b24d6c33aa62e3.eot?#iefix")format("embedded-opentype"),
    url("quicksand-dashed/80a67466fb37bc4635b24d6c33aa62e3.woff2")format("woff2"),
    url("quicksand-dashed/80a67466fb37bc4635b24d6c33aa62e3.woff")format("woff"),
    url("quicksand-dashed/80a67466fb37bc4635b24d6c33aa62e3.ttf")format("truetype"),
    url("quicksand-dashed/80a67466fb37bc4635b24d6c33aa62e3.svg#Quicksand Dash Regular")format("svg");
}

/* elements */
body {
	background-color: black;
	color: red;
	font-size: large;
	font-family: 'Quicksand Dash Regular';
	font-weight: 400;
	margin: 0px 2px;
	padding: 0px;
}

a:visited {
	color: #FF29FF;
}

a:link, a:hover {
	color: #00FF00;
}

h1 {
	margin: 10px 0px 0px 0px;
}
nav{
	border-bottom: dashed 1px;
	font-size: normal;
}
p {
	margin: 10px 0px;
}
section {
	
}

section p {
	font-family: 'Oxanium', sans-serif;
}

section.h2{

}

/* classes */

.card, .nav-section{
	display: inline-block;
}
.card{
	width: 310px;
	height: 310px;
	border: 1px dashed; 
	margin: 0px 0px 15px 10px;
	position: relative;

}
.card:hover{
	color: #00FF00;
}

.card-body{
	margin: 8px;
	position: absolute;
	bottom: 0;
	z-index: 2;
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;
}
.card-body>* {
	display: flex;
	line-height: 18px;
		
}
.thumbnail { /* set for aspect ratio 4:3 */
	width: 95%;
	display: block;
	margin: 8px;	
}

.keys, .values {
	justify-content: center;
	text-align: center;
	
}
.keys {
	border-right: dashed 1px;
	}
	
h3.card-header{
	text-align: center;
	margin: 5px 0px;
	padding-bottom: 5px;
	border-bottom: 1px dashed;
}
.section-padding{
	height: 100px;
	border-bottom: dashed 1px;
}
.section-divider{

}

/* ids */
#banner {
	width: 95%;
	margin: auto;
	text-align: center;
}
#header {
	position: sticky;
	top: 0px;
	border-bottom: dashed 1px;
	background-color: black;
	z-index: 3;
}
#footer {
	font-size: small;
	position: sticky;
	bottom: 0px;
	background-color: black;
	text-align: center;
	border-top: dashed 1px;
	z-index: 3;
}

::selection, ::-moz-selection /* Code for Firefox */ {
  	color: black;
  	background: red;
}

p::selection, p::-moz-selection{
	color: purple;
	background: black;
}